<html>
    <head><title>CPSC 113 Social To-Do App</title></head><br>
    {% if user.is_authenticated %}
    <center><h3>Welcome, {{user.get_username}}!</h3></center>
        {% else %}
            <p>No one is logged in!</p>
    {% endif %}
    <h1><b><center>TO-DO LIST</center></b></h1>
    {% csrf_token %}
    {% if task_list %}
        {% for task in task_list %}
        <li class="tasks-list-item">
            <center><span class="task-title">{{task.title}}</span></center>
            <center><i><span class="task-description">{{task.description}}</span></i></center>
            {% if task.isOwnedBy %}
                <form action="delete" method="POST" class="delete">
                {% csrf_token %}
                <input type="hidden" name="delete" value = {{task.id}} />
                <center><button type="submit" class="delete" value="Delete">Delete</button></center>
                </form>
            {% endif %}
            <form action="markcomplete" method="POST" class ="markcomplete">
            {% csrf_token %}
            <input type="hidden" name="markcomplete" value = {{task.id}} />
            <center><button type = "submit">{%if task.markcomplete %}Mark Incomplete{%else%}Mark Complete{% endif %}</button></center>
            </form>
        </li>
        {% endfor %}
        {% else %}
            <center><p>No tasks to show!</p></center>
    {% endif %}
    <hr>
    <hr>
    <h2><b><center>Submit Task:</center></b></h2>
        <form action="/tasks/create" method="POST">
            {% csrf_token %}
            <center><input name="title" class = "title" placeholder = "Title"></center><br>
            <center><input name="description" class = "description" placeholder = "Description"></center><br>
            <center><input name="collaborator1" type="email" placeholder = "Collaborator 1"></center><br>
            <center><input name="collaborator2" type="email" placeholder = "Collaborator 2"></center><br>
            <center><input name="collaborator3" type="email" placeholder = "Collaborator 3"></center><br>
            <center><input type="submit" class="create-task-submit" value="Submit">
        </form>
    <hr>
    <hr>
        {% if user.is_authenticated %}
            <form action="/logout/" method="POST">
            {% csrf_token %}
            <center><input type="submit" value="Log Out">
            </form>
        {% else %}
            <form action="/index/" method="POST">
            {% csrf_token %}
            <center><input type="submit" value="Log In">
            </form>
        {% endif %}
</html>