<html>
    <body>
        <header>
            <ul>
            <h1><b><center>CPSC 113 Social To-Do App</center></b></h1>
            <hr><hr>
            <h2><center>Log-In Here!</center></h2>
            <form action="/login/" method="POST" class="login">
                {% csrf_token %}
                <center><input name="name" class = "name" placeholder = "Name"></center>
                <center><input name="email" class = "email" placeholder = "Email"></center>
                <center><input name="password" class = "password" placeholder = "Password"></center><br>
                <center><input type="submit" value="Login" /></center><br>
            </form>
            </ul>
            <ul>
            <hr><hr>
            <h3><center>Register Here!</center></h3>
            <form action="/register/" method="POST" class="register">
                {% csrf_token %}
                <center><input name="name" class = "name" placeholder = "Name"></center>
                <center><input name="email" class = "email" placeholder = "Email"></center>
                <center><input name="password" class = "password" placeholder = "Password"></center>
                <center><input name="password-conf" class = "confirm_password" placeholder = "Confirm Password"></center><br>
                <center><input type="submit" value="Register" /></center><br>
            </form>
            </ul>
        </header>
    </body>
</html>